.dub/
*.a
docs.json
docs/
__test*
*.html
dub.selections.json
*.visualdproj
*.lib
*.sln
*.suo
*.dll
*.exe
*.bin

CHANGELOG.md # temporary, until I actually implement everything in it and publish the relevant releases; don't want to be misleading.